defmodule <%= @module %>Test do
  use ExUnit.Case, async: false

  @moduletag :notary

  test "<%= @name %> conforms to its TLA+ spec" do
    Notary.Conformance.assert_conforms(<%= @module %>)
  end
end
